In [2]:
import networkx as nx # the main libary we will use
from networkx.algorithms import bipartite
from networkx.algorithms import community
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from scipy.optimize import curve_fit
%matplotlib inline 
import statistics
import networkx.algorithms.community
from datetime import datetime, timedelta
from datetime import date
import calendar

from networkx.algorithms import community
from networkx.algorithms import bipartite
from networkx.algorithms import centrality as ce
from networkx.algorithms import community as c

In [3]:
file= 'data/Investments.xlsx'
df = pd.read_excel(file)

### Preprocess

In [4]:
df = df[['company_name','company_market','investor_name','funded_year','raised_amount_usd']]
df.rename(columns = {'company_name' : 'Company_Name', 'company_market' : 'Company_Market', 'investor_name':'Investor_Name', 'funded_year':'Funded_Year', 'raised_amount_usd':'Raised_Amount_USD'}, inplace = True)
df = df.dropna()
df = df[df.Raised_Amount_USD != 0]

In [5]:
df.head()

,Company_Name,Company_Market,Investor_Name,Funded_Year,Raised_Amount_USD
2,ABO Data,Enterprise Software,ANTONIO MURRONI,1979,1000000.0
3,ABO Data,Enterprise Software,FILIPPO Murroni,1979,1000000.0
19,Cisco,Software,Sequoia Capital,1987,2500000.0
31,Knowledge Adventure,Games,William Lohse,1990,60000.0
43,Market Wire,Advertising,Hummer Winblad Venture Partners,1990,17550000.0

In [6]:
df.shape

(99093, 5)

### Data exploration

In [7]:
print(f"Number of unique investors: {df['Investor_Name'].nunique()}")
print(f"Number of unique companies: {df['Company_Name'].nunique()}")
print(f"Number of unique company markets: {df['Company_Market'].nunique()}")

Number of unique investors: 20158
Number of unique companies: 24910
Number of unique company markets: 695

### Building the network

In [8]:
G_weighted_directed = nx.from_pandas_edgelist(df=df,source='Investor_Name',target='Company_Name',edge_attr=True,create_using=nx.MultiDiGraph())
attrs_n={}
nodes = pd.DataFrame(list(G_weighted_directed.nodes))
print(nx.info(G_weighted_directed))

MultiDiGraph with 44780 nodes and 99093 edges

<ipython-input-8-058fed7b0165>:4: DeprecationWarning: info is deprecated and will be removed in version 3.0.

  print(nx.info(G_weighted_directed))

In [9]:
degree = dict(G_weighted_directed.in_degree)
# print(degree)